div{
    /*border: 1px solid black;*/
}

div.top_page{
    z-index: 100;
    position: sticky;
    top: 0;
    width: 100%;
}

div.middle_page{
    top: 3rem;
}


nav a{
    color: #ada497;
}

.social-media{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-right: 0.75em;
    padding-inline-start: 10px;
}

body{
    background-color: #f2ebe3;
}

body footer{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
    font-weight: normal;
  }

.jumbotron {
    /*background-image: url("./images/others/Banner6.jpg");*/
    background-color: #cccccc;
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    color: #ffff;
}

.carousel{
    z-index: 2;
    padding: 1rem;
}

.carousel-img{
    max-height: 32rem;
}

.carousel-indicators li{
    background-color: #859074;
}

.btn-primary {
    color: #fff;
    background-color: #b2baa4;
    border-color: #b2baa4;
}

.sobre_nosotros{
    text-align: center;
    padding: 1.5rem;
}

p.sobre_nosotros{
    padding: 2rem;
}


.img_sobre_nosotros{
    max-width: 400px;
    align-items: center;
    transform: rotate(10deg);
}

div.nuestro_equipo, div.about_us{
    padding-top: 2rem;
    text-align: center;
    align-items: center;

}

.team{
    padding-top: 2rem;
    text-align: center;
    background-color: #f2ebe3;

}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f2ebe3;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    align-items: center;
}

img.card-img-top{
    width: 200px;
    height: 200px;;
}

.pie_pagina, a.pie_pagina{
    padding: 0.5rem;
    text-align: center;
    color: #f2ebe3;
}

img.pie_pagina{
    max-width: 200px;
    padding: 0;
    padding-top: 2rem;
}

div.pie_pagina_icon{
    align-items: center;
}
